{% extends 'layout.html' %}
{% block content %}

<div class="container ">

    <div class="row">
        <div class="mx-auto">
            <section class="vh-100 d-flex">
                <div class="container-fluid h-custom">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-md-9 col-lg-6 col-xl-5">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                                class="img-fluid" alt="Sample image">
                        </div>
                        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                            <form action="{% url 'login'%}" method="POST">
                                {% csrf_token %}
                                 <div class="form-outline mb-4">
                                    <input type="email" name="Emailaddress" id="Emailaddress"
                                        class="form-control form-control-lg" placeholder="Email Adres" />
                                </div>

                                <div class="form-outline mb-3">
                                    <input type="password" name="Password" id="Password"
                                        class="form-control form-control-lg" placeholder="Şifre" />
                                </div>
                                {% if error %}
                                <div class="align-items-center alert alert-danger">
                                    {{ error }}
                                </div>
                                {% endif%}
                                <div class="text-center text-lg-start mt-4 pt-2">
                                    <input type="submit" class="btn btn-primary btn-lg"
                                        style="padding-left: 2.5rem; padding-right: 2.5rem;" value="Giriş Yap">

                                    <p class="small fw-bold mt-2 pt-1 mb-0">Henüz Kayıt Olmadınız Mı? <a
                                            href="{% url 'register'%}" class="link-danger">Kayıt Ol</a></p>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>
{% endblock %}