{% extends 'layout.html' %} {% block content %}
<div class="container">
  <div class="row position-relative">
    <div class="mt-5 col-lg-3">
      <ul class="list-group position-sticky d-top">
        <li class="list-group-item active">Açık Pozisyonlar</li>
        <li class="list-group-item">
          <a href="{% url 'home_view'%}"> Tüm Pozisyonlar </a>
        </li>
        {% for cat in cats%} {%if cat.slug == selected_category %}
        <li class="list-group-item acv">
          <a href="{% url 'worksByCategorys' cat.slug %}">
            {{cat.catName|title}}
          </a>
        </li>
        {% else %}
        <li class="list-group-item">
          <a href="{% url 'worksByCategorys' cat.slug %}">
            {{cat.catName|title}}
          </a>
          {% endif %}
        </li>
        <!-- <li class="list-group-item disabled">Disabled item</li> -->
        {%endfor%}
      </ul>
    </div>
    <div class="mt-5 col-lg-9 col-sm-10 mx-auto workcard">
      {%for work in works%}
      <div
        id="{{work.id}}"
        class="col-md-12 mt-4 d-flex justify-content-lg-start flex-nowrap"
      >
        <img src="{{ work.picture.url }}" />
        <div class="workcard"></div>
        <div class="card-body">
          <h5 class="card-title">{{work.title|title}}</h5>
          <!-- <p class="card-text">{{work.desc |slice:"0:100"}}</p> -->
          <p class="card-text">
            <small class="text-muted"
              >ilan başvuru tarihi {{work.startDate}} - {{work.endDate}}</small
            >
          </p>
          <div class="d-flex justify-content-lg-start">
            {% for skil in skilsByworker %} {% if skil.workerid == work.id %}
            <div class="card pl-2 pr-2 mr-2">
              <span> {{skil.skilName}} </span>
            </div>
            {% endif %} {% endfor%}
          </div>
          <a href="{% url 'workers_detail' work.slug %}">İncele</a>
        </div>
      </div>
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
